---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"id3oET2buBvcZR1bKwoZFZBqyjau3xN3q0SHfK_36g3xKfa6pCFMkJBqsGAcTLLXU2KkNXWpDJ65ejYzD4S9flUdEzZMHaI9GxvD4xL3QzIJmL9SGaGmQ3V0tDx2zI_G3BlW1MNPNR1DO3feuKTO1sc4eordiqvBh23HydYL49zDL8Nnpk5xZFIvWYSF7UY6CDMdF2ohWAznd4Qn6IeXARLE7UJC4b0ejglwXbjtErHRtHony3dRa1lPVSUJwKqgSCBimKGiCso.bB9lOg7qjYqbkBYPtv0MY4UaodSNEMXxwy8yC6QtK48CWA8CCNwaede9UVYKjLaYurbvQIFmxCEcsM16Gwbs29eiHZih_soXngkgDGp..Ilg1eMB7DGa1WoQ8z9tf277KBmmn84d4HO7TJXNd6K7Z69xOlj.phoRhp5mdfmngFriRH2KNZUpYQgkypOijvY0KpCDD86TKzGvwkCKTANPTBBTNaJUuSGaIla2kmwjFJk.re6hfPjdOVPDN06zDxlm.4A4T09ZqviOMyPHEL9ynBg72Xx8XI_m45hBYdGcZdhPpLmbSZvMxMcBYyiSjqi1M9tJ38dNFy4Y3yqE0eu3Mut8nXIFlMTwB6YPifZtYqyI2XRm_PjbBnC497XMuQgoElzivWK35t5F9fSgxHFLRh_pNwIY9br40MgbVn_cgU3xTkMT9NmDWLmDf785mjbIv80A.WYpOwNk4lkkj6NTiqMIEgEzXxBkwKtZn7kumg6IIdrQPdKMF0rMdkTeWuGyi45QeevExgtRXMACBystU.EoN8nOTXLinLAOQcUTRuywUO1PGVpbZUoNy69S2XKtrNSvGHKXSYdOUAlrampTc.m15ZRvfLPPuX46RUBw4qrJtgBUzIsD0TD_5rCY0kFZzaioEfVWmyAizEfJSMKiYgyJnG_if8a90k_zMGJetRoBtOCERHP5PX.Yvchtnjv6iVDflMrVUY8dkr3VEMMk0RV1ZonlresIzoRpJpDko5hPdEgRaamM6h12coDqO0J_vBJpzVSrBkuAXsRlAWwPluiNkg--","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Sat, 29 Jan 2022 00:36:03 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer id3oET2buBvcZR1bKwoZFZBqyjau3xN3q0SHfK_36g3xKfa6pCFMkJBqsGAcTLLXU2KkNXWpDJ65ejYzD4S9flUdEzZMHaI9GxvD4xL3QzIJmL9SGaGmQ3V0tDx2zI_G3BlW1MNPNR1DO3feuKTO1sc4eordiqvBh23HydYL49zDL8Nnpk5xZFIvWYSF7UY6CDMdF2ohWAznd4Qn6IeXARLE7UJC4b0ejglwXbjtErHRtHony3dRa1lPVSUJwKqgSCBimKGiCso.bB9lOg7qjYqbkBYPtv0MY4UaodSNEMXxwy8yC6QtK48CWA8CCNwaede9UVYKjLaYurbvQIFmxCEcsM16Gwbs29eiHZih_soXngkgDGp..Ilg1eMB7DGa1WoQ8z9tf277KBmmn84d4HO7TJXNd6K7Z69xOlj.phoRhp5mdfmngFriRH2KNZUpYQgkypOijvY0KpCDD86TKzGvwkCKTANPTBBTNaJUuSGaIla2kmwjFJk.re6hfPjdOVPDN06zDxlm.4A4T09ZqviOMyPHEL9ynBg72Xx8XI_m45hBYdGcZdhPpLmbSZvMxMcBYyiSjqi1M9tJ38dNFy4Y3yqE0eu3Mut8nXIFlMTwB6YPifZtYqyI2XRm_PjbBnC497XMuQgoElzivWK35t5F9fSgxHFLRh_pNwIY9br40MgbVn_cgU3xTkMT9NmDWLmDf785mjbIv80A.WYpOwNk4lkkj6NTiqMIEgEzXxBkwKtZn7kumg6IIdrQPdKMF0rMdkTeWuGyi45QeevExgtRXMACBystU.EoN8nOTXLinLAOQcUTRuywUO1PGVpbZUoNy69S2XKtrNSvGHKXSYdOUAlrampTc.m15ZRvfLPPuX46RUBw4qrJtgBUzIsD0TD_5rCY0kFZzaioEfVWmyAizEfJSMKiYgyJnG_if8a90k_zMGJetRoBtOCERHP5PX.Yvchtnjv6iVDflMrVUY8dkr3VEMMk0RV1ZonlresIzoRpJpDko5hPdEgRaamM6h12coDqO0J_vBJpzVSrBkuAXsRlAWwPluiNkg--
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - b8funb5gv92vk
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-54fcc6b474-4zfld
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "fantasy_content": {
                "xml:lang": "en-US",
                "yahoo:uri": "\/fantasy\/v2\/users;use_login=1\/games;game_keys=nba\/teams",
                "users": {
                    "0": {
                        "user": [
                            {
                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY"
                            },
                            {
                                "games": {
                                    "0": {
                                        "game": [
                                            {
                                                "game_key": "410",
                                                "game_id": "410",
                                                "name": "Basketball",
                                                "code": "nba",
                                                "type": "full",
                                                "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba",
                                                "season": "2021",
                                                "is_registration_over": 0,
                                                "is_game_over": 0,
                                                "is_offseason": 0
                                            },
                                            {
                                                "teams": {
                                                    "0": {
                                                        "team": [
                                                            [
                                                                {
                                                                    "team_key": "410.l.223791.t.6"
                                                                },
                                                                {
                                                                    "team_id": "6"
                                                                },
                                                                {
                                                                    "name": "Stanley's Top-Notch Team"
                                                                },
                                                                {
                                                                    "is_owned_by_current_login": 1
                                                                },
                                                                {
                                                                    "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba\/223791\/6"
                                                                },
                                                                {
                                                                    "team_logos": [
                                                                        {
                                                                            "team_logo": {
                                                                                "size": "large",
                                                                                "url": "https:\/\/s.yimg.com\/cv\/apiv2\/default\/nba\/nba_5_s.png"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                [],
                                                                {
                                                                    "waiver_priority": 3
                                                                },
                                                                {
                                                                    "faab_balance": "100"
                                                                },
                                                                {
                                                                    "number_of_moves": 0
                                                                },
                                                                {
                                                                    "number_of_trades": 0
                                                                },
                                                                {
                                                                    "roster_adds": {
                                                                        "coverage_type": "week",
                                                                        "coverage_value": 15,
                                                                        "value": "0"
                                                                    }
                                                                },
                                                                [],
                                                                {
                                                                    "league_scoring_type": "head"
                                                                },
                                                                [],
                                                                {
                                                                    "draft_position": 10
                                                                },
                                                                {
                                                                    "has_draft_grade": 0
                                                                },
                                                                [],
                                                                [],
                                                                {
                                                                    "managers": [
                                                                        {
                                                                            "manager": {
                                                                                "manager_id": "6",
                                                                                "nickname": "Stanley",
                                                                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY",
                                                                                "is_current_login": "1",
                                                                                "email": "stanleytarce18@gmail.com",
                                                                                "image_url": "https:\/\/s.yimg.com\/ag\/images\/default_user_profile_pic_64sq.jpg",
                                                                                "felo_score": "592",
                                                                                "felo_tier": "bronze"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            null
                                                        ]
                [...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer id3oET2buBvcZR1bKwoZFZBqyjau3xN3q0SHfK_36g3xKfa6pCFMkJBqsGAcTLLXU2KkNXWpDJ65ejYzD4S9flUdEzZMHaI9GxvD4xL3QzIJmL9SGaGmQ3V0tDx2zI_G3BlW1MNPNR1DO3feuKTO1sc4eordiqvBh23HydYL49zDL8Nnpk5xZFIvWYSF7UY6CDMdF2ohWAznd4Qn6IeXARLE7UJC4b0ejglwXb[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer id3oET2buBvcZR1bKwoZFZBqyjau3xN3q0SHfK_36g3xKfa6pCFMkJBqsGAcTLLXU2KkNXWpDJ65ejYzD4S9flUdEzZMHaI9GxvD4xL3QzIJmL9SGaGmQ3V0tDx2zI_G3BlW1MNPNR1DO3feuKTO1sc4eordiqvBh23HydYL49zDL8Nnpk5xZFIvWYSF7UY6CDMdF2ohWAznd4Qn6IeXARLE7UJC4b0ejglwXb[...]
[...]
