---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"RI9dhSWbuBvMZZe.ZILFbrPZJ1s.jmWreGKFuuyMz3oaMpApOLGDWZx7A21CP1hRitHmpgVHqosGNUOWoj3f__oGN2Me_LEdxr8FNrD_IkEDr6YGlZzyk1RtDPi65kAJBZmfpzv5_v3k11z7Lpak2LuxBLZNbQ0J02CeV4MWyJoIEh5dHvuOxZsaZIGZpDRQenMu2HQQqYodISaWfwmUZ1kEB8W.0WrlQZAusm8vyWB1fGdDW2cpnz6esyyPXVQy_iXxGs.6Ep0Vch3j1iD_TV3QJRPl.MGLsLQRIZPSPgULmZzCNItIRVAfzAJmdC0zKBfuAWbeF8GXjPiQ8HuYkYxc_d89TPGMZBNo.IVgmDKE.eUaIm_bnBthdRqBjX6quK5L5n0_bZDitBhW397v2WL.Rocl3r_xIs7HQE6XZ6.XPHfMGHTNj_TBTGrHVHavUc7S4ukiEZAkzjJosiD1W6YUi7CZGv7pm3wPlNhYlKY4s_ejb2S6S6VFfbU0SYX.bk6c9gWK35T0utmPTck96NBh3R4IYv8ik.esbIi2UfDXAPCkWuqEHuIGDDc2aS1gQ8cSuD9bEDNU4iUPLrDjc1D3P_0fo3OH2Rv4uIvkPdpjk4m8YArDYLOSzBbbHJbTkMGSczCP1BKRbFo9DbR_HjgiEdfmhGdsEC2FHiGmX9xl_qptznHJ5T5eZNmGwQn9KN_gU03j9.oN_aTxnAp7vzuMk8ytQ8yE8ek0tDEWfcFyOZ3DI6agkhdbMjZZmgc8HPcIe0NoT6By6uGUSOdxffp8GOEUHP9iC4bUQu9hh55u_T23QkxM8hCXpsiELNdC0uSIjfkCAxzEd6Cqi3BNVXqI2WdJh5mr2_6qdRDUK8HJ_6rq8sneFIb7QJz5Drg_17JUwx6oZ5G5VBh74DFyTarCBY_jDqgn1kN0BE_MzYR7f_DamkrsNRfd.8aMbsv1Zkz0FZYa1dpGX06lgtzjDnlJTG4ALJw.tO73q4j0xKJTYB6Raez0BAJX4UouoemG4Lwb7oXkjdXHz9jma5PtqxTPX_FrqkIognfYSpk-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Fri, 28 Jan 2022 14:36:46 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer RI9dhSWbuBvMZZe.ZILFbrPZJ1s.jmWreGKFuuyMz3oaMpApOLGDWZx7A21CP1hRitHmpgVHqosGNUOWoj3f__oGN2Me_LEdxr8FNrD_IkEDr6YGlZzyk1RtDPi65kAJBZmfpzv5_v3k11z7Lpak2LuxBLZNbQ0J02CeV4MWyJoIEh5dHvuOxZsaZIGZpDRQenMu2HQQqYodISaWfwmUZ1kEB8W.0WrlQZAusm8vyWB1fGdDW2cpnz6esyyPXVQy_iXxGs.6Ep0Vch3j1iD_TV3QJRPl.MGLsLQRIZPSPgULmZzCNItIRVAfzAJmdC0zKBfuAWbeF8GXjPiQ8HuYkYxc_d89TPGMZBNo.IVgmDKE.eUaIm_bnBthdRqBjX6quK5L5n0_bZDitBhW397v2WL.Rocl3r_xIs7HQE6XZ6.XPHfMGHTNj_TBTGrHVHavUc7S4ukiEZAkzjJosiD1W6YUi7CZGv7pm3wPlNhYlKY4s_ejb2S6S6VFfbU0SYX.bk6c9gWK35T0utmPTck96NBh3R4IYv8ik.esbIi2UfDXAPCkWuqEHuIGDDc2aS1gQ8cSuD9bEDNU4iUPLrDjc1D3P_0fo3OH2Rv4uIvkPdpjk4m8YArDYLOSzBbbHJbTkMGSczCP1BKRbFo9DbR_HjgiEdfmhGdsEC2FHiGmX9xl_qptznHJ5T5eZNmGwQn9KN_gU03j9.oN_aTxnAp7vzuMk8ytQ8yE8ek0tDEWfcFyOZ3DI6agkhdbMjZZmgc8HPcIe0NoT6By6uGUSOdxffp8GOEUHP9iC4bUQu9hh55u_T23QkxM8hCXpsiELNdC0uSIjfkCAxzEd6Cqi3BNVXqI2WdJh5mr2_6qdRDUK8HJ_6rq8sneFIb7QJz5Drg_17JUwx6oZ5G5VBh74DFyTarCBY_jDqgn1kN0BE_MzYR7f_DamkrsNRfd.8aMbsv1Zkz0FZYa1dpGX06lgtzjDnlJTG4ALJw.tO73q4j0xKJTYB6Raez0BAJX4UouoemG4Lwb7oXkjdXHz9jma5PtqxTPX_FrqkIognfYSpk-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - 8rkeli1gv7vs0
      X-Yahoo-Host:
      - fantasy-sports-api--pub-base-production-bf1-7f694b7978-flhnd
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      bin_key: xirez-mypez-zisid-limub-palas-zobom-bonif-fypyr-kefib-fizot-tevik-pysik-gereh-mefyv-fysan-busot-tyxux
  recorded_at: Fri, 28 Jan 2022 14:36:47 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer RI9dhSWbuBvMZZe.ZILFbrPZJ1s.jmWreGKFuuyMz3oaMpApOLGDWZx7A21CP1hRitHmpgVHqosGNUOWoj3f__oGN2Me_LEdxr8FNrD_IkEDr6YGlZzyk1RtDPi65kAJBZmfpzv5_v3k11z7Lpak2LuxBLZNbQ0J02CeV4MWyJoIEh5dHvuOxZsaZIGZpDRQenMu2HQQqYodISaWfwmUZ1kEB8W.0WrlQZAusm[...]
[...]
