---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7NuVfWoqIBIPo4z1HYndnN9rsQId65wL71UjM3xD8I81QRK22LXxYNPK9_cUW25Q1GP1qL.K7O_5m5_zuCGPW09HWZZpOeC7cTvVXKDAyVXaY7_yz1EmnzsaIolpzgNu_rH0pOCEHUXoCFtOzlQKDHRwaWsd8_S9SQPQjwakgcegRUwPeRMGUYDfzcP9SgSzPltDHf1NDI2vHNc3dFfG3y1zrW3SAD2dGPUnQdnIKzhsSqD6q50bPd1HGGGSspbU96vfDFZc9bX_d2GZ0MoSAUt2oazwG_WwhfgvKV_uH9AGF1UAzHZ4dULTTTBsr.Qa30E3j6B_jbuLFu2iGnk_Q.AFtwAEHRHO5mT3owpJ87TIsaYuoSI8y9Pb1MnvgN6uhVN7b_ZCjw_gM1XEyFvoyKP5tLDLsdCuN2h023AffMdTpR7PBIn1ajvyrcb_ZC4o.8FyfnyKQ3iVzDVP3DM8bRciF9hImFqTw6EnaY.ywI36cOKOjnqvFIIBv2AqLncABkxaglL3hBJpLCpUBMK65I.mC5FjtMin3ljB1noeeukpLY5wMCMSa3kLPkxXnRECOqlECPlBR86lOFGidC23MGXVOHWecdAr9y.um.sbKyIFSU79DmatT2XYzz5MUy0SWPg9MpF2BB6_hTq0668nXm8l2T3MAfqggQlsp49mkUH.5eU5KwsOUTxXvdKQt7tW1tp6lv3mnHNv4mC.yCQIbYd83SukIZ4DPKaCse45OCDDe2yKB1STeW3.Sa6cjJUgCi64mG91wRV.e.mLlYWDv7HV1Rba01ojxfHCuj7OeSwSDDvH3g1eFghh7EsemGQx_KAh8Dwcei90kxNNNVZWO_vhNo4vqH0odYMZttcsq.ShsM2DdN_4NGVPJQCnkjsNpJAXntxz5yvaCL.e.3nzL4Fyv0yNcnZJ.Gt8IfLeJn0pz7RTqXEL8ZurEzBt.iy_uUs9UCekBW9J_wUw-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Fri, 28 Jan 2022 14:35:59 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7NuVfWoqIBIPo4z1HYndnN9rsQId65wL71UjM3xD8I81QRK22LXxYNPK9_cUW25Q1GP1qL.K7O_5m5_zuCGPW09HWZZpOeC7cTvVXKDAyVXaY7_yz1EmnzsaIolpzgNu_rH0pOCEHUXoCFtOzlQKDHRwaWsd8_S9SQPQjwakgcegRUwPeRMGUYDfzcP9SgSzPltDHf1NDI2vHNc3dFfG3y1zrW3SAD2dGPUnQdnIKzhsSqD6q50bPd1HGGGSspbU96vfDFZc9bX_d2GZ0MoSAUt2oazwG_WwhfgvKV_uH9AGF1UAzHZ4dULTTTBsr.Qa30E3j6B_jbuLFu2iGnk_Q.AFtwAEHRHO5mT3owpJ87TIsaYuoSI8y9Pb1MnvgN6uhVN7b_ZCjw_gM1XEyFvoyKP5tLDLsdCuN2h023AffMdTpR7PBIn1ajvyrcb_ZC4o.8FyfnyKQ3iVzDVP3DM8bRciF9hImFqTw6EnaY.ywI36cOKOjnqvFIIBv2AqLncABkxaglL3hBJpLCpUBMK65I.mC5FjtMin3ljB1noeeukpLY5wMCMSa3kLPkxXnRECOqlECPlBR86lOFGidC23MGXVOHWecdAr9y.um.sbKyIFSU79DmatT2XYzz5MUy0SWPg9MpF2BB6_hTq0668nXm8l2T3MAfqggQlsp49mkUH.5eU5KwsOUTxXvdKQt7tW1tp6lv3mnHNv4mC.yCQIbYd83SukIZ4DPKaCse45OCDDe2yKB1STeW3.Sa6cjJUgCi64mG91wRV.e.mLlYWDv7HV1Rba01ojxfHCuj7OeSwSDDvH3g1eFghh7EsemGQx_KAh8Dwcei90kxNNNVZWO_vhNo4vqH0odYMZttcsq.ShsM2DdN_4NGVPJQCnkjsNpJAXntxz5yvaCL.e.3nzL4Fyv0yNcnZJ.Gt8IfLeJn0pz7RTqXEL8ZurEzBt.iy_uUs9UCekBW9J_wUw-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - '028m4plgv7vqh'
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-7bd55d6b46-nlfb7
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      bin_key: xifac-gimos-gylys-kefuz-robop-pusih-gegyf-nacuz-mifib-mafyr-nakyl-vynof-sycyt-zahan-gynig-nabeb-laxyx
  recorded_at: Fri, 28 Jan 2022 14:36:00 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7NuVfWoqIBIPo4z1HYndnN9rsQId65wL71UjM3xD8I81QRK22LXxYNPK9_cUW25Q1GP1qL.K7O_5m5_zuCGPW09HWZZpOeC7cTvVXKDAyVXaY7_yz1EmnzsaIolpzgNu_rH0pOCEHUXoCFt[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7NuVfWoqIBIPo4z1HYndnN9rsQId65wL71UjM3xD8I81QRK22LXxYNPK9_cUW25Q1GP1qL.K7O_5m5_zuCGPW09HWZZpOeC7cTvVXKDAyVXaY7_yz1EmnzsaIolpzgNu_rH0pOCEHUXoCFtOzl[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7NuVfWoqIBIPo4z1HYndnN9rsQId65wL71UjM3xD8I81QRK22LXxYNPK9_cUW25Q1GP1qL.K7O_5m5_zuCGPW09HWZZpOeC7cTvVXKDAyVXaY7_yz1EmnzsaIolpzgNu_rH0pOCEHUXoCFt[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXgLH9sF.nVLUH4jtZVz7Nu[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer NQagNuabuBuiWgUeKDplidxdNxfOtIdVnI6QHFseofjthyuzjStZ_QVoW._89Np6NmVvXg[...]
[...]
