---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wugH.FA_BcHFClP5ADzZy2zcL0Yhu8j84OCbi0OBRZz6OqWO1bmt7P_INKZuA0958cGQa.YrWIVuOwXTsFnHkdAlZRaXt8Fvi.mO9ZGc53CEf5JpFL6KD234Xx2RT5v5OyfjYZrMi8z2xmR.sJ5kiid9bGgRR.YHMW_SS8GbFJ14ybmO0vzL575KM7WlHPZW_YeFzOy4gzAhUbvWI74JbfEQhyfdwOE7vsYcZltp._1zVZ4jBIlVoF4hPvzJ58qbgAqdcRIxtVJUB8rrdrKerrooSSSGS8MycJ60YvyiLgLMuT6gsEZIK3H.zhpIIqdirtR5MXoz_zDgCYEMIQmI7fTGQa16rtMtLoJ1WNeIZgwP7Z67k1G82vYjQDTB87Iv60Hmayw1AidhuqFSMUmO4NobnYmLKB7tDXM9DwQaV4fG775HJsx5PCPSC1TD_I9QtpjduvtJSD_SjV5TyBGZoYOX.yFmfY1.znqkUhusdfiCXzKR.ujI_t_F7whSPiDVSyesblEYYrrgk01vScCWYraYBSkok5qz1LVOhq4dSzmQw9AUm9pv.uq2aEVHx_0wOWbK4VJUs93HhZ6t1eCSgX9uZ3E7nCJyU3Ap.GbG4ke6YY2dgxuergy4gKir2YmBGtprZcjR6Pg_W15eDiDVxn8n4qYdQM0.O5YxjwNB0T4S.EXQK13jOsRMBjOdsgI8n4EA2ufcWfpEMwkkyLuYUf.5YgZkN.te2dkC9xVzeOuP3XcDjEfQnXYkMEf_ecX70LJYnN9QZcf8B1d8.wUpaJvDJIHb115PvfVo8PKr3ASq5iRi3IEZfvO16IzCKBgzi1LIxwbsSic_Z5CM2ke_t7jYIHYXpLgJxu_1zSCxIezmCdzslyXFnQd2WSk96j64Ua933oLBYyL6lTb4R8rNtcOWlCtEySF7ZGlqnP8N8TzJOIEMB6mvKX1ltxlCzcZ4xfsJpLy0jTaHLw--","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Fri, 28 Jan 2022 14:36:19 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wugH.FA_BcHFClP5ADzZy2zcL0Yhu8j84OCbi0OBRZz6OqWO1bmt7P_INKZuA0958cGQa.YrWIVuOwXTsFnHkdAlZRaXt8Fvi.mO9ZGc53CEf5JpFL6KD234Xx2RT5v5OyfjYZrMi8z2xmR.sJ5kiid9bGgRR.YHMW_SS8GbFJ14ybmO0vzL575KM7WlHPZW_YeFzOy4gzAhUbvWI74JbfEQhyfdwOE7vsYcZltp._1zVZ4jBIlVoF4hPvzJ58qbgAqdcRIxtVJUB8rrdrKerrooSSSGS8MycJ60YvyiLgLMuT6gsEZIK3H.zhpIIqdirtR5MXoz_zDgCYEMIQmI7fTGQa16rtMtLoJ1WNeIZgwP7Z67k1G82vYjQDTB87Iv60Hmayw1AidhuqFSMUmO4NobnYmLKB7tDXM9DwQaV4fG775HJsx5PCPSC1TD_I9QtpjduvtJSD_SjV5TyBGZoYOX.yFmfY1.znqkUhusdfiCXzKR.ujI_t_F7whSPiDVSyesblEYYrrgk01vScCWYraYBSkok5qz1LVOhq4dSzmQw9AUm9pv.uq2aEVHx_0wOWbK4VJUs93HhZ6t1eCSgX9uZ3E7nCJyU3Ap.GbG4ke6YY2dgxuergy4gKir2YmBGtprZcjR6Pg_W15eDiDVxn8n4qYdQM0.O5YxjwNB0T4S.EXQK13jOsRMBjOdsgI8n4EA2ufcWfpEMwkkyLuYUf.5YgZkN.te2dkC9xVzeOuP3XcDjEfQnXYkMEf_ecX70LJYnN9QZcf8B1d8.wUpaJvDJIHb115PvfVo8PKr3ASq5iRi3IEZfvO16IzCKBgzi1LIxwbsSic_Z5CM2ke_t7jYIHYXpLgJxu_1zSCxIezmCdzslyXFnQd2WSk96j64Ua933oLBYyL6lTb4R8rNtcOWlCtEySF7ZGlqnP8N8TzJOIEMB6mvKX1ltxlCzcZ4xfsJpLy0jTaHLw--
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - 8ohjgr5gv7vr5
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-7bd55d6b46-577g4
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      bin_key: xites-vytug-memag-hubor-mesor-zyrek-sytum-gecin-rynal-hoveb-denez-kygic-sydub-takiv-galac-bafud-pyxox
  recorded_at: Fri, 28 Jan 2022 14:36:20 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wugH.FA_BcHFClP5ADzZy2zcL0Yhu8j84OCbi0OBRZz6OqWO1bmt7P_INKZuA0958cGQa.YrWIVuOwXTsFnHkdAlZRaXt8Fvi.mO9ZGc53CEf5JpFL6KD234Xx2RT5v5OyfjYZrMi8z2xm[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wugH.FA_BcHFClP5ADzZy2zcL0Yhu8j84OCbi0OBRZz6OqWO1bmt7P_INKZuA0958cGQa.YrWIVuOwXTsFnHkdAlZRaXt8Fvi.mO9ZGc53CEf5JpFL6KD234Xx2RT5v5OyfjYZrMi8z2xmR.s[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wugH.FA_BcHFClP5ADzZy2zcL0Yhu8j84OCbi0OBRZz6OqWO1bmt7P_INKZuA0958cGQa.YrWIVuOwXTsFnHkdAlZRaXt8Fvi.mO9ZGc53CEf5JpFL6KD234Xx2RT5v5OyfjYZrMi8z2xm[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p.cul0Cg5smdTFdMDx6wu[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer moVgC6CbuBukT8CR8XpMP.B_I0SfNrC8QLfwEvXx0hg_UZMUb6aiMnBHC3yE2gCnN5rr_p[...]
[...]
