---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"E87oejWbuBsr6AkAJ0vwLfLuCn3ur9NKspBlTXs1dtA5SqmmiWRJbjxPav2BrCaJZPoCZ.qDKfrxj_kB5CcSO0NTgSMr5ASVRQHL9T9_sSnbqGXgRQpvlf8dZd1yfLROJkVAs_mxhN8bXQpEM6.joR8fm9LmtfBkMP6Ks8iv_IyG6eCQfOkvdkqkve_SthHnzi6tR_l4b7IYtPtFdfmjBSsn6RTZqnQ7AjoWstHkKaUDI8lbYeDosW_EYRf259433zvlT1HYE3n3TJPMCXA_avZUEewWZjAQoJaLxbwYrhbjxcIWZSYO0CHW43cy6NUhwtfr2.LcrGaPS.UGR2IFvGcTqKr.1phhsCHQ4kG5K_N0O9EdqdDBqzFJPqk07cf60EynfMSmd1MGO2Q1gKmkyF1dSIy.mvYI2wtzbA_9uzFbzb184WaoAT9QAecFvTFFHpN3hqZ1TMnvS6ZzXZ.2cmAw7gpCK1sXJuRhhZSzRc4HGOLhyhblajI0oKUfsXYDcjVmvzihIHtXohbx58evoj__fVevdLoK.eUfqwOuezpnF8IrkcBehqrmeyH0rlvq3eEahLzl05D8y8uiXgD4EMNg43W0RtUp3EzhftpzVpp0D2dy18BNf8MvAEa59Z2B9QCldHN9tO42S1eYOW7Kh0Yd8I2nU.Q0hF.UxAm6UHHxPb2yIeTMJjN0TgsFqN.llVvov0Be2EY.Kg4EXx4W9GA9_Y2IHW9UOMHfWIh.4Abn2fQ43j1RWyOIPkM1mr8mYI30T3zGiZyJKAYCGwQThDHVS.EWOKGoncdZ6N.N8.p6b6M7BizAyicaaBFkyuTMcoVEJetSNMWRbecLOaKc.bIg4V_9LlYXych__MY00gLSJ_3P86QDhRAMK700d_WRGMvfSJuxadgFXMKy677.UpBbWqSGbDitWQ2CntT87R7hk0qJWggv7HfPakOEhYFUpUhQjN9Z3HD7RLDAstnydppW7GRW_1gB2sVQ8CUaSxlLuiB4blD1k8SezQijk0BAkS94ASi9OipaEkf7yWFouk7s0sS9HVwK2T7cqGQ-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Sat, 29 Jan 2022 00:38:11 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer E87oejWbuBsr6AkAJ0vwLfLuCn3ur9NKspBlTXs1dtA5SqmmiWRJbjxPav2BrCaJZPoCZ.qDKfrxj_kB5CcSO0NTgSMr5ASVRQHL9T9_sSnbqGXgRQpvlf8dZd1yfLROJkVAs_mxhN8bXQpEM6.joR8fm9LmtfBkMP6Ks8iv_IyG6eCQfOkvdkqkve_SthHnzi6tR_l4b7IYtPtFdfmjBSsn6RTZqnQ7AjoWstHkKaUDI8lbYeDosW_EYRf259433zvlT1HYE3n3TJPMCXA_avZUEewWZjAQoJaLxbwYrhbjxcIWZSYO0CHW43cy6NUhwtfr2.LcrGaPS.UGR2IFvGcTqKr.1phhsCHQ4kG5K_N0O9EdqdDBqzFJPqk07cf60EynfMSmd1MGO2Q1gKmkyF1dSIy.mvYI2wtzbA_9uzFbzb184WaoAT9QAecFvTFFHpN3hqZ1TMnvS6ZzXZ.2cmAw7gpCK1sXJuRhhZSzRc4HGOLhyhblajI0oKUfsXYDcjVmvzihIHtXohbx58evoj__fVevdLoK.eUfqwOuezpnF8IrkcBehqrmeyH0rlvq3eEahLzl05D8y8uiXgD4EMNg43W0RtUp3EzhftpzVpp0D2dy18BNf8MvAEa59Z2B9QCldHN9tO42S1eYOW7Kh0Yd8I2nU.Q0hF.UxAm6UHHxPb2yIeTMJjN0TgsFqN.llVvov0Be2EY.Kg4EXx4W9GA9_Y2IHW9UOMHfWIh.4Abn2fQ43j1RWyOIPkM1mr8mYI30T3zGiZyJKAYCGwQThDHVS.EWOKGoncdZ6N.N8.p6b6M7BizAyicaaBFkyuTMcoVEJetSNMWRbecLOaKc.bIg4V_9LlYXych__MY00gLSJ_3P86QDhRAMK700d_WRGMvfSJuxadgFXMKy677.UpBbWqSGbDitWQ2CntT87R7hk0qJWggv7HfPakOEhYFUpUhQjN9Z3HD7RLDAstnydppW7GRW_1gB2sVQ8CUaSxlLuiB4blD1k8SezQijk0BAkS94ASi9OipaEkf7yWFouk7s0sS9HVwK2T7cqGQ-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - 1681flpgv933l
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-54fcc6b474-hh47m
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "fantasy_content": {
                "xml:lang": "en-US",
                "yahoo:uri": "\/fantasy\/v2\/users;use_login=1\/games;game_keys=nba\/teams",
                "users": {
                    "0": {
                        "user": [
                            {
                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY"
                            },
                            {
                                "games": {
                                    "0": {
                                        "game": [
                                            {
                                                "game_key": "410",
                                                "game_id": "410",
                                                "name": "Basketball",
                                                "code": "nba",
                                                "type": "full",
                                                "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba",
                                                "season": "2021",
                                                "is_registration_over": 0,
                                                "is_game_over": 0,
                                                "is_offseason": 0
                                            },
                                            {
                                                "teams": {
                                                    "0": {
                                                        "team": [
                                                            [
                                                                {
                                                                    "team_key": "410.l.223791.t.6"
                                                                },
                                                                {
                                                                    "team_id": "6"
                                                                },
                                                                {
                                                                    "name": "Stanley's Top-Notch Team"
                                                                },
                                                                {
                                                                    "is_owned_by_current_login": 1
                                                                },
                                                                {
                                                                    "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba\/223791\/6"
                                                                },
                                                                {
                                                                    "team_logos": [
                                                                        {
                                                                            "team_logo": {
                                                                                "size": "large",
                                                                                "url": "https:\/\/s.yimg.com\/cv\/apiv2\/default\/nba\/nba_5_s.png"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                [],
                                                                {
                                                                    "waiver_priority": 3
                                                                },
                                                                {
                                                                    "faab_balance": "100"
                                                                },
                                                                {
                                                                    "number_of_moves": 0
                                                                },
                                                                {
                                                                    "number_of_trades": 0
                                                                },
                                                                {
                                                                    "roster_adds": {
                                                                        "coverage_type": "week",
                                                                        "coverage_value": 15,
                                                                        "value": "0"
                                                                    }
                                                                },
                                                                [],
                                                                {
                                                                    "league_scoring_type": "head"
                                                                },
                                                                [],
                                                                {
                                                                    "draft_position": 10
                                                                },
                                                                {
                                                                    "has_draft_grade": 0
                                                                },
                                                                [],
                                                                [],
                                                                {
                                                                    "managers": [
                                                                        {
                                                                            "manager": {
                                                                                "manager_id": "6",
                                                                                "nickname": "Stanley",
                                                                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY",
                                                                                "is_current_login": "1",
                                                                                "email": "stanleytarce18@gmail.com",
                                                                                "image_url": "https:\/\/s.yimg.com\/ag\/images\/default_user_profile_pic_64sq.jpg",
                                                                                "felo_score": "592",
                                                                                "felo_tier": "bronze"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            null
                                                        ]
                [...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer E87oejWbuBsr6AkAJ0vwLfLuCn3ur9NKspBlTXs1dtA5SqmmiWRJbjxPav2BrCaJZPoCZ.qDKfrxj_kB5CcSO0NTgSMr5ASVRQHL9T9_sSnbqGXgRQpvlf8dZd1yfLROJkVAs_mxhN8bXQpEM6.joR8fm9LmtfBkMP6Ks8iv_IyG6eCQfOkvdkqkve_SthHnzi6tR_l4b7IYtPtFdfmjBSsn6RTZqnQ7AjoWst[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer E87oejWbuBsr6AkAJ0vwLfLuCn3ur9NKspBlTXs1dtA5SqmmiWRJbjxPav2BrCaJZPoCZ.qDKfrxj_kB5CcSO0NTgSMr5ASVRQHL9T9_sSnbqGXgRQpvlf8dZd1yfLROJkVAs_mxhN8bXQpEM6.joR8fm9LmtfBkMP6Ks8iv_IyG6eCQfOkvdkqkve_SthHnzi6tR_l4b7IYtPtFdfmjBSsn6RTZqnQ7AjoWst[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer E87oejWbuBsr6AkAJ0vwLfLuCn3ur9NKspBlTXs1dtA5SqmmiWRJbjxPav2BrCaJZPoCZ.qDKfrxj_kB5CcSO0NTgSMr5ASVRQHL9T9_sSnbqGXgRQpvlf8dZd1yfLROJkVAs_mxhN8bXQpEM6.joR8fm9LmtfBkMP6Ks8iv_IyG6eCQfOkvdkqkve_SthHnzi6tR_l4b7IYtPtFdfmjBSsn6RTZqnQ7AjoWstHkK[...]
