---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"KnrQJ3.buBs07P_as23fC3vj_16.2074phPMa8ynWJNX22cmHRylrOEentBMk8PLL9aS43tLO4QNfvpOvJ7tWFeUnev8Y6eqGwxKQd6RMd..qdlwGjvsW8bolq0qpGoMFUzZUDtFGdFWBNhsFQA6qaR.6Fg2v5D0njGrsFD5.r5HuDYPCwWbGkkP3UtDnxEqY66cs08jHrsD4wg66O5TDXRyDMAYYUSsu_strhFVkemxbU7j3TjUqCb7aVqqimatODDqj7IxdUmBwFIDKDsKBIegncMu2PpSXDdaWKvbon3IsXkf88d_UbT0YoyU2a5QC8ReV6CuYhBzn47lEw5jfl2OwsOBJvfTuS_Hy21CGNdiOFAEISRuiWfM01iULO5CvWb18f5XpPOsD3zenYm_V1cuptY8uvqHd.07NmwCrkGqjyp.kLHLEDQY4AqmfTh1uT.D7Vu8jkA50xEQEbt48PBwNqjaW1orzeGAX.E.uKW1kSa7HlzqWHYMOc.F6EpE2_7HRQcX_WAro1pOcMIhAeKHcvvSNPWVen8V.94Hk1ufbf6vKyw2fx6gIYRoeEdUYKvRuebWnSOeDl8mqy1.mpB.n4sa4h.oj.ddqkfeW.ozsd7WxDiSHgTel84j_ssk1fyd00ocCYl.W491uzkYHfanBbMg892ZIshPD4yaj9svFIpmedq54J71SKYsfI10svSN0JaCCM4d8CXZTNsCiLn8SL_kOI_rCzZwWKLlj6mJ.uwT44xDwo75AV7IsGCbZ5BhGohzz8_5xS44vq4fcDuyBBmw8UO9ny5jF3RZHTOy5gRUjzRlapJ7dpBIURExLqMr7pIxVL..L12ePsqms01sJeJmJfq17lwfkeDYPB7A.OwPqM7wyeTqy1Nj08cDyoDwrvVhaMIq9kHUwavg9dsp198M3WXFNr7SqTSckKlwYmyv_qJqOfQByjsYLbzXLyfsrIk_4fAnF_jobTEvC_w_03fEir2OV5zLz_S43NePbSlWLEXhD6VqkpiHMApL7AsuMwq1Uj6eBuzfINVl8FxV8nn4kZb84n1Jj3k-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Sat, 29 Jan 2022 00:38:18 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer KnrQJ3.buBs07P_as23fC3vj_16.2074phPMa8ynWJNX22cmHRylrOEentBMk8PLL9aS43tLO4QNfvpOvJ7tWFeUnev8Y6eqGwxKQd6RMd..qdlwGjvsW8bolq0qpGoMFUzZUDtFGdFWBNhsFQA6qaR.6Fg2v5D0njGrsFD5.r5HuDYPCwWbGkkP3UtDnxEqY66cs08jHrsD4wg66O5TDXRyDMAYYUSsu_strhFVkemxbU7j3TjUqCb7aVqqimatODDqj7IxdUmBwFIDKDsKBIegncMu2PpSXDdaWKvbon3IsXkf88d_UbT0YoyU2a5QC8ReV6CuYhBzn47lEw5jfl2OwsOBJvfTuS_Hy21CGNdiOFAEISRuiWfM01iULO5CvWb18f5XpPOsD3zenYm_V1cuptY8uvqHd.07NmwCrkGqjyp.kLHLEDQY4AqmfTh1uT.D7Vu8jkA50xEQEbt48PBwNqjaW1orzeGAX.E.uKW1kSa7HlzqWHYMOc.F6EpE2_7HRQcX_WAro1pOcMIhAeKHcvvSNPWVen8V.94Hk1ufbf6vKyw2fx6gIYRoeEdUYKvRuebWnSOeDl8mqy1.mpB.n4sa4h.oj.ddqkfeW.ozsd7WxDiSHgTel84j_ssk1fyd00ocCYl.W491uzkYHfanBbMg892ZIshPD4yaj9svFIpmedq54J71SKYsfI10svSN0JaCCM4d8CXZTNsCiLn8SL_kOI_rCzZwWKLlj6mJ.uwT44xDwo75AV7IsGCbZ5BhGohzz8_5xS44vq4fcDuyBBmw8UO9ny5jF3RZHTOy5gRUjzRlapJ7dpBIURExLqMr7pIxVL..L12ePsqms01sJeJmJfq17lwfkeDYPB7A.OwPqM7wyeTqy1Nj08cDyoDwrvVhaMIq9kHUwavg9dsp198M3WXFNr7SqTSckKlwYmyv_qJqOfQByjsYLbzXLyfsrIk_4fAnF_jobTEvC_w_03fEir2OV5zLz_S43NePbSlWLEXhD6VqkpiHMApL7AsuMwq1Uj6eBuzfINVl8FxV8nn4kZb84n1Jj3k-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - f76gn61gv933r
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-54fcc6b474-jgmjx
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "fantasy_content": {
                "xml:lang": "en-US",
                "yahoo:uri": "\/fantasy\/v2\/users;use_login=1\/games;game_keys=nba\/teams",
                "users": {
                    "0": {
                        "user": [
                            {
                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY"
                            },
                            {
                                "games": {
                                    "0": {
                                        "game": [
                                            {
                                                "game_key": "410",
                                                "game_id": "410",
                                                "name": "Basketball",
                                                "code": "nba",
                                                "type": "full",
                                                "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba",
                                                "season": "2021",
                                                "is_registration_over": 0,
                                                "is_game_over": 0,
                                                "is_offseason": 0
                                            },
                                            {
                                                "teams": {
                                                    "0": {
                                                        "team": [
                                                            [
                                                                {
                                                                    "team_key": "410.l.223791.t.6"
                                                                },
                                                                {
                                                                    "team_id": "6"
                                                                },
                                                                {
                                                                    "name": "Stanley's Top-Notch Team"
                                                                },
                                                                {
                                                                    "is_owned_by_current_login": 1
                                                                },
                                                                {
                                                                    "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba\/223791\/6"
                                                                },
                                                                {
                                                                    "team_logos": [
                                                                        {
                                                                            "team_logo": {
                                                                                "size": "large",
                                                                                "url": "https:\/\/s.yimg.com\/cv\/apiv2\/default\/nba\/nba_5_s.png"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                [],
                                                                {
                                                                    "waiver_priority": 3
                                                                },
                                                                {
                                                                    "faab_balance": "100"
                                                                },
                                                                {
                                                                    "number_of_moves": 0
                                                                },
                                                                {
                                                                    "number_of_trades": 0
                                                                },
                                                                {
                                                                    "roster_adds": {
                                                                        "coverage_type": "week",
                                                                        "coverage_value": 15,
                                                                        "value": "0"
                                                                    }
                                                                },
                                                                [],
                                                                {
                                                                    "league_scoring_type": "head"
                                                                },
                                                                [],
                                                                {
                                                                    "draft_position": 10
                                                                },
                                                                {
                                                                    "has_draft_grade": 0
                                                                },
                                                                [],
                                                                [],
                                                                {
                                                                    "managers": [
                                                                        {
                                                                            "manager": {
                                                                                "manager_id": "6",
                                                                                "nickname": "Stanley",
                                                                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY",
                                                                                "is_current_login": "1",
                                                                                "email": "stanleytarce18@gmail.com",
                                                                                "image_url": "https:\/\/s.yimg.com\/ag\/images\/default_user_profile_pic_64sq.jpg",
                                                                                "felo_score": "592",
                                                                                "felo_tier": "bronze"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            null
                                                        ]
                [...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer KnrQJ3.buBs07P_as23fC3vj_16.2074phPMa8ynWJNX22cmHRylrOEentBMk8PLL9aS43tLO4QNfvpOvJ7tWFeUnev8Y6eqGwxKQd6RMd..qdlwGjvsW8bolq0qpGoMFUzZUDtFGdFWBNhsFQA6qaR.6Fg2v5D0njGrsFD5.r5HuDYPCwWbGkkP3UtDnxEqY66cs08jHrsD4wg66O5TDXRyDMAYYUSsu_strh[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer KnrQJ3.buBs07P_as23fC3vj_16.2074phPMa8ynWJNX22cmHRylrOEentBMk8PLL9aS43tLO4QNfvpOvJ7tWFeUnev8Y6eqGwxKQd6RMd..qdlwGjvsW8bolq0qpGoMFUzZUDtFGdFWBNhsFQA6qaR.6Fg2v5D0njGrsFD5.r5HuDYPCwWbGkkP3UtDnxEqY66cs08jHrsD4wg66O5TDXRyDMAYYUSsu_strh[...]
[...]
