---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0Fey2VY6ayw_dQUdqVfw296SkcRJy9L2qx_rwzKRLwZp_tZaBec3IZ5fUCXpRZajlih0QPcmZLuAd_t8m8AXNbopNmffMfoIegs3a30gTkF1JMg7uGIoj6yQ_qxD0H_Ecb4guLINdno3e846AyZajzm9q9rDY0Vrdv04o3e9zzhnL4nS034ZIvWGH81cvxUYl1qgdfsNAsX1s8svM3N0Nh.T2eE4epEqyMjaY8b3McswDhOVJAvVTYvMP9g5dH2ypmaVZHwHrdT7J0vNw361WFglZm8Ha0HWv8J_.dvC9djGIFmQzRpX96Bu8DnvXRuTdUMxC0yOmd0Vi5_iGPQC1Dgw0gDhJCpjjDyzEiUG3UiN5cd7LAnw6_Kyg2ugnNHnGVMaJ04Wy4Bu5iIHJbLa.QHX.xuDDsIcy.xko8R54Rdqs9WKLRHhhjaMXRjpq9whJGFTVi_ninhSXgApKILkmUD0sHMaE45ILlUm2R4PvE8Lo1fYAULSsriyJ_xOoI_a5evVlcsT6H._F.mnnZQSaXKMI_tukc1vvmIIo4LrWNcyot216eOYudqN_5BIouRGItkjn0u46Q1UtNMy_4DqdCFln_8UlvdfeV79wCjKT5fGK3z_KpTA_F5cqGKqicOYiMtId1rdW0vHQdUx2UiThs5VyUJiNOpTbP2VcAAyaCSzqglvuErmjlFIFvtExNy8VV93NtQ8F3Icu1lhzq01W22Xlom0_r4MWg4SWTpvFw3dXaTNmS1McN8dx2ZTZfu3TqCQTzOS5tqKhS6M5tvUR_alNnENt4iwX7fonHVoWK6C4QdnobTpB1adQtODsycc8uIeCLjs7F5vW4FS_dhCeEA8ZUKMUUH0FW83SooCWQ6sBzkS1caCtQpiQdsfoIhDecyQjw34W9VymPNyImBh9IiqMfyFfHbJHpO_Jqvlm7pDTSQzoiLMTidkXTl3meJ.fB2NvAwpm9SI_7Q-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Sat, 29 Jan 2022 02:40:58 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0Fey2VY6ayw_dQUdqVfw296SkcRJy9L2qx_rwzKRLwZp_tZaBec3IZ5fUCXpRZajlih0QPcmZLuAd_t8m8AXNbopNmffMfoIegs3a30gTkF1JMg7uGIoj6yQ_qxD0H_Ecb4guLINdno3e846AyZajzm9q9rDY0Vrdv04o3e9zzhnL4nS034ZIvWGH81cvxUYl1qgdfsNAsX1s8svM3N0Nh.T2eE4epEqyMjaY8b3McswDhOVJAvVTYvMP9g5dH2ypmaVZHwHrdT7J0vNw361WFglZm8Ha0HWv8J_.dvC9djGIFmQzRpX96Bu8DnvXRuTdUMxC0yOmd0Vi5_iGPQC1Dgw0gDhJCpjjDyzEiUG3UiN5cd7LAnw6_Kyg2ugnNHnGVMaJ04Wy4Bu5iIHJbLa.QHX.xuDDsIcy.xko8R54Rdqs9WKLRHhhjaMXRjpq9whJGFTVi_ninhSXgApKILkmUD0sHMaE45ILlUm2R4PvE8Lo1fYAULSsriyJ_xOoI_a5evVlcsT6H._F.mnnZQSaXKMI_tukc1vvmIIo4LrWNcyot216eOYudqN_5BIouRGItkjn0u46Q1UtNMy_4DqdCFln_8UlvdfeV79wCjKT5fGK3z_KpTA_F5cqGKqicOYiMtId1rdW0vHQdUx2UiThs5VyUJiNOpTbP2VcAAyaCSzqglvuErmjlFIFvtExNy8VV93NtQ8F3Icu1lhzq01W22Xlom0_r4MWg4SWTpvFw3dXaTNmS1McN8dx2ZTZfu3TqCQTzOS5tqKhS6M5tvUR_alNnENt4iwX7fonHVoWK6C4QdnobTpB1adQtODsycc8uIeCLjs7F5vW4FS_dhCeEA8ZUKMUUH0FW83SooCWQ6sBzkS1caCtQpiQdsfoIhDecyQjw34W9VymPNyImBh9IiqMfyFfHbJHpO_Jqvlm7pDTSQzoiLMTidkXTl3meJ.fB2NvAwpm9SI_7Q-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - 2ihv7thgv9a9s
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-54fcc6b474-h4n9h
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "fantasy_content": {
                "xml:lang": "en-US",
                "yahoo:uri": "\/fantasy\/v2\/users;use_login=1\/games;game_keys=nba\/teams",
                "users": {
                    "0": {
                        "user": [
                            {
                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY"
                            },
                            {
                                "games": {
                                    "0": {
                                        "game": [
                                            {
                                                "game_key": "410",
                                                "game_id": "410",
                                                "name": "Basketball",
                                                "code": "nba",
                                                "type": "full",
                                                "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba",
                                                "season": "2021",
                                                "is_registration_over": 0,
                                                "is_game_over": 0,
                                                "is_offseason": 0
                                            },
                                            {
                                                "teams": {
                                                    "0": {
                                                        "team": [
                                                            [
                                                                {
                                                                    "team_key": "410.l.223791.t.6"
                                                                },
                                                                {
                                                                    "team_id": "6"
                                                                },
                                                                {
                                                                    "name": "Stanley's Top-Notch Team"
                                                                },
                                                                {
                                                                    "is_owned_by_current_login": 1
                                                                },
                                                                {
                                                                    "url": "https:\/\/basketball.fantasysports.yahoo.com\/nba\/223791\/6"
                                                                },
                                                                {
                                                                    "team_logos": [
                                                                        {
                                                                            "team_logo": {
                                                                                "size": "large",
                                                                                "url": "https:\/\/s.yimg.com\/cv\/apiv2\/default\/nba\/nba_5_s.png"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                [],
                                                                {
                                                                    "waiver_priority": 3
                                                                },
                                                                {
                                                                    "faab_balance": "100"
                                                                },
                                                                {
                                                                    "number_of_moves": 0
                                                                },
                                                                {
                                                                    "number_of_trades": 0
                                                                },
                                                                {
                                                                    "roster_adds": {
                                                                        "coverage_type": "week",
                                                                        "coverage_value": 15,
                                                                        "value": "0"
                                                                    }
                                                                },
                                                                [],
                                                                {
                                                                    "league_scoring_type": "head"
                                                                },
                                                                [],
                                                                {
                                                                    "draft_position": 10
                                                                },
                                                                {
                                                                    "has_draft_grade": 0
                                                                },
                                                                [],
                                                                [],
                                                                {
                                                                    "managers": [
                                                                        {
                                                                            "manager": {
                                                                                "manager_id": "6",
                                                                                "nickname": "Stanley",
                                                                                "guid": "UPWKRIWSHPMUU6XTGFPLLEBMNY",
                                                                                "is_current_login": "1",
                                                                                "email": "stanleytarce18@gmail.com",
                                                                                "image_url": "https:\/\/s.yimg.com\/ag\/images\/default_user_profile_pic_64sq.jpg",
                                                                                "felo_score": "592",
                                                                                "felo_tier": "bronze"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            null
                                                        ]
                [...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0Fey2VY6ayw_dQUdqVfw296SkcRJy9L2qx_rwzKRLwZp_tZaBec3IZ5fUCXpRZajlih0QPcmZLuAd_t8m8AXNbopNmffMfoIegs3a30gTkF1JMg7uGIoj6yQ_qxD0H_Ecb4guLINdno3e8[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0Fey2VY6ayw_dQUdqVfw296SkcRJy9L2qx_rwzKRLwZp_tZaBec3IZ5fUCXpRZajlih0QPcmZLuAd_t8m8AXNbopNmffMfoIegs3a30gTkF1JMg7uGIoj6yQ_qxD0H_Ecb4guLINdno3e8[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0Fey2VY6ayw_dQUdqVfw296SkcRJy9L2qx_rwzKRLwZp_tZaBec3IZ5fUCXpRZajlih0QPcmZLuAd_t8m8AXNbopNmffMfoIegs3a30gTkF1JMg7uGIoj6yQ_qxD0H_Ecb4guLINdno3e846A[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYYnGguFhoMbSc.XYbMUa0F[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Iz64NkqbuBuqtxSq0nj3Db1woehSkC7mCnyaVRVcpSYvDqnbxstZvEWFvNQAjI6iiqjFYY[...]
[...]
