---
http_interactions:
- request:
    method: post
    uri: https://api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: refresh_token=AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB&client_id=dj0yJmk9UHIxVUJrbEsxRkdLJmQ9WVdrOVlrWm1iMFJzVVhNbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTA3&client_secret=a9398b94a0e476b87a6b1d1f15457bcbaf7b359b&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlTB_7W4egac900jwvhe8jBu1dFrOWRFMvMIhih_._PWkGgWwPv0bfmL0qJgvkEdPjGSdCOApqKe5R8tEa7HHSQ5Ri_WRsUFev_NOGxHslCcKIMpLDGHWPqdlWZoxGH4XIn_2yRMZO4DV7ylT85ptOpJUUEym3mmylgehcaClPXpDxzyGeS45MpTC9t9MGbJeIN9tRyL8i8Fl_wmF_yaBGR18GStwEfhVRgrDQvbTfx4KspsS46ctT16PdW2Qyp_SkoCEu2clss_6NFD01ra8c36uA9ybkij5VetqKkFGxn0H3YdWACjCl3zSO9hY.oP0vIKgz0eji6QZz_z6SYRrKn7GK3PrF3xGLTPMddP0MQm1yPTcfoXE4S7J8yH9iLITj0A6GlATMlYMzQ0KnCXfaj2aPkMqePccB3RCorNheh5AjIpSaaS5H7.3jAbk5UyrfoDaT0xtOnG1EvTAyqf4yzg.z8Nyso0K4Q7BOg4dNA8_6C5DbIbRh_eToEx.0Gq_uhe5.aXRc4zjtF2l6AVr1c8oV4nqfaavi7kbJtmcSyqDxAm__Z9Su2murzIfLuCQoFDFNIXhRye7dlbLNshxYDD__6294AGUGBkt4hwW_8Y5rMwLXcJq5inOsxu9sQ5Kl8s1Kq8wDor8.U2IrJ5G1nrHDQmniAoXqOlsdT9hxMeYZSIVV0wjUIHmKfWe8ZFyherROTv7o33_QLThu8sjjUdgW91BG474bCTmALLGt.KpheZgxX3zB9UnuHRfsLxcZ.Ve16CKF8ar6erId_Dtz1aXLtyt0pIYbQqh51AbAWOEXsMXNwO_Wfa4DGKXukVnYCh1J.8FrmDeXB1rjswn5nPlHsgwiJH9v7O_SS7PdwY1QDAdKsZfAc0o135qUvcs1nZlpFt6dMHtpraOtCCoKI.2s2xqf0NtETDLe1HrbI9kKO1XdCBi_NmUC.2wW09t5qDPqdTEhA24Z3A-","refresh_token":"AIli2mG5W3C.4FZdv77yDkxML2DaEgcSe7s6HlPgj7bbxLap4YNrk5TQ.rn2G.DB","expires_in":3600,"token_type":"bearer"}'
  recorded_at: Fri, 28 Jan 2022 14:38:36 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games;game_keys=nba/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlTB_7W4egac900jwvhe8jBu1dFrOWRFMvMIhih_._PWkGgWwPv0bfmL0qJgvkEdPjGSdCOApqKe5R8tEa7HHSQ5Ri_WRsUFev_NOGxHslCcKIMpLDGHWPqdlWZoxGH4XIn_2yRMZO4DV7ylT85ptOpJUUEym3mmylgehcaClPXpDxzyGeS45MpTC9t9MGbJeIN9tRyL8i8Fl_wmF_yaBGR18GStwEfhVRgrDQvbTfx4KspsS46ctT16PdW2Qyp_SkoCEu2clss_6NFD01ra8c36uA9ybkij5VetqKkFGxn0H3YdWACjCl3zSO9hY.oP0vIKgz0eji6QZz_z6SYRrKn7GK3PrF3xGLTPMddP0MQm1yPTcfoXE4S7J8yH9iLITj0A6GlATMlYMzQ0KnCXfaj2aPkMqePccB3RCorNheh5AjIpSaaS5H7.3jAbk5UyrfoDaT0xtOnG1EvTAyqf4yzg.z8Nyso0K4Q7BOg4dNA8_6C5DbIbRh_eToEx.0Gq_uhe5.aXRc4zjtF2l6AVr1c8oV4nqfaavi7kbJtmcSyqDxAm__Z9Su2murzIfLuCQoFDFNIXhRye7dlbLNshxYDD__6294AGUGBkt4hwW_8Y5rMwLXcJq5inOsxu9sQ5Kl8s1Kq8wDor8.U2IrJ5G1nrHDQmniAoXqOlsdT9hxMeYZSIVV0wjUIHmKfWe8ZFyherROTv7o33_QLThu8sjjUdgW91BG474bCTmALLGt.KpheZgxX3zB9UnuHRfsLxcZ.Ve16CKF8ar6erId_Dtz1aXLtyt0pIYbQqh51AbAWOEXsMXNwO_Wfa4DGKXukVnYCh1J.8FrmDeXB1rjswn5nPlHsgwiJH9v7O_SS7PdwY1QDAdKsZfAc0o135qUvcs1nZlpFt6dMHtpraOtCCoKI.2s2xqf0NtETDLe1HrbI9kKO1XdCBi_NmUC.2wW09t5qDPqdTEhA24Z3A-
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Request-Id:
      - 6r7k0n9gv7vve
      X-Yahoo-Host:
      - fantasy-sports-api--public-production-bf1-7bd55d6b46-4w7dl
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      bin_key: xigam-nevyp-vuhop-konop-teruv-sovip-dokuk-coboc-vagon-pabet-halak-symac-guter-lyvef-dimyv-daliz-texix
  recorded_at: Fri, 28 Jan 2022 14:38:37 GMT
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/settings?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlTB_7W4egac900jwvhe8jBu1dFrOWRFMvMIhih_._PWkGgWwPv0bfmL0qJgvkEdPjGSdCOApqKe5R8tEa7HHSQ5Ri_WRsUFev_NOGxHslCcKIMpLDGHWPqdlWZoxGH4XIn_2yRMZO4DV7y[...]
[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/teams?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlTB_7W4egac900jwvhe8jBu1dFrOWRFMvMIhih_._PWkGgWwPv0bfmL0qJgvkEdPjGSdCOApqKe5R8tEa7HHSQ5Ri_WRsUFev_NOGxHslCcKIMpLDGHWPqdlWZoxGH4XIn_2yRMZO4DV7ylT8[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/team/410.l.223791.t.6/roster?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlTB_7W4egac900jwvhe8jBu1dFrOWRFMvMIhih_._PWkGgWwPv0bfmL0qJgvkEdPjGSdCOApqKe5R8tEa7HHSQ5Ri_WRsUFev_NOGxHslCcKIMpLDGHWPqdlWZoxGH4XIn_2yRMZO4DV7y[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZTGD1u3tOIBDv2giPthrlT[...]
- request:
    method: get
    uri: https://fantasysports.yahooapis.com/fantasy/v2/league/410.l.223791/players;player_keys=410.p.6016,410.p.5842,410.p.4840,410.p.5601,410.p.5294,410.p.5073,410.p.5835,410.p.4245,410.p.4913,410.p.5192,410.p.4906,410.p.5015,410.p.5295/stats?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2hD0znybuBumYRJnOkbhod.TypSE_7g0MQx4.OcCUMiHBxAqqCZHzR_YA24aKGxtUlFmZT[...]
[...]
